body{
  background-color: #a2d2ff;
}

.img{
  height: 100px;
  border-radius:100px;
}

#nome{
  color: rgb(255, 3, 3);
}

.titulo{
  color: rgb(12, 12, 12);
  padding: 1px;
  background-color:;
  text-align: center;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow',Arial, sans-serif;
  box-shadow: 10px 10px 10px #0b0033b7;
}


.caixa{
  list-style-type: none;
  text-align: center;
  padding:0;
  overflow: hidden;
  border: 1px solid #777;
  background-color:#80ffdb;
  margin-left: 80px;
  margin-right: 50px;
}


li a{
  display: block;
  color:#7400b8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
li a:hover:not(.ativa){
   background-color: rgb(228, 150, 4);
 }

 #tabela{
   margin-left: 350px;
 }
}




 
